name {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position:absolute;
    top:65%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

school {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:73%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
major {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:76%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
majoroption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:79%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
topnav{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

experience1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:100%;
    left:10%;
    right:0;
    bottom:0;
    margin:auto;
    text-align: left;
}
experience2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:115%;
    left:10%;
    right:0;
    bottom:0;
    margin:auto;
    text-align: left;
}
experience3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:135%;
    left:10%;
    right:0;
    bottom:0;
    margin:auto;
    text-align: left;
}

experience{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
bottomnav{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position:absolute;
    top:200%;
    left:5%;
    right:0;
    bottom:0;
    text-align: left;
}
